<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #ea0a8e">
    <ul class = "navbar-nav">
      <li class = "nav-item">
        <a routerLink = "view" routerLinkActive="active" class = "nav-link">View</a>
      </li>
      <li class = "nav-item">
        <a routerLink = "compare" routerLinkActive="active" class = "nav-link">Compare</a>
      </li>
    </ul>
  </nav>
<img class = "tmobile" src = "assets/images/tmobile-logo.jpg">
<h1 style="color:rgb(255, 30, 180);" class="text-center"> <p><b>R</b>abbit <b>MQ </b><b>M</b>anagement <b>T</b>ool</p></h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
    <span>All Rights Reserved 2022 HCL Technologies</span>
  </div>
</footer>